@import url('https://fonts.googleapis.com/css2?family=Antic&family=Balsamiq+Sans:wght@700&family=Cabin&family=Dancing+Script:wght@400;500;700&family=Lato:wght@300;400&family=Montserrat:wght@300;400&family=Varela+Round&display=swap');



body{
    /* background:url('https://images.unsplash.com/photo-1508558936510-0af1e3cccbab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80') */
    /* no-repeat center center fixed;  */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Varela Round', sans-serif;
    color: white;
    text-shadow: 2px 3px 4px  black;
    text-align: center;
}

h1{
    font-size:5rem;
    margin-top: 6rem;
    width: fit-content; 
    margin-left: auto;
    margin-right: auto;
}

.h1-habits{ 
    margin-top: 2rem;
}

button{
    margin-top: 2rem;
}

#main-section{
    background:transparent;
}

.input-spacing{
    margin-right: 1rem;
    margin-left: 1rem;
}

.button-width{
    width:10rem;
}

.big{
    top: 2rem;
      width: 3rem;
      height: 3rem;
    }

.card{
    background-color: rgb(104, 198, 230);
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-header{
    font-size: 2rem;
}

.card-title{
    margin-right: 10rem;
}


.dateTopping{
margin-top: 1.58rem;
}

.streak{
    margin-left: 100px;
    margin-top: 30px;
    font-size: 24px;
}

input{
    margin-right: 0.5rem;
    margin-left: 3rem;
    width: 30px;
    height: 30px;
    margin-top: 22px;
}

.form-control{ 
    display: inline-block;
    width: 40%;
}

.left-margin{ 
    margin-left: 3rem;
}

.button-stack{ 
    display:block;
    margin-top: 0rem;
}

.button-stack button {
    margin-top: 0rem;
    margin-bottom: 4px;
}


@media only screen and (max-width: 400px){
    
    #title {
       font-size: 70px;
       margin-right: 30px;
     
    }
    #motivationalQuote{
        font-size: 20px;
    }
    #loginButton  {
        display: inline;
        width: 7rem; /*try 7rem*/
        margin-left: -95px;
        font-size: 20px; 
        padding: 10px;
    }
    #registerButton  {
        display: block;
        width: 8rem;
        font-size: 20px;
        margin-right: -70px;
        margin-left: -2px;
        padding:10px;
      
    }

    html{
        height: 100%;
    }
    body {
        height: 100%;
        background-size: 200vh; 
    }
    #backButtonStyling {
        margin-left: 110px;
    }
    .btn-danger{
        margin-left: 55px;
        margin-top: 50px;
    }
    .fields{
        color: yellow;
        font-size: 60px;
        
    }
    .row{
     display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: -100px;
    width: 100%;

    }

    #registerButtonRegister{

        margin-bottom: 20px;
    }
    .form-control{ 
        width:100%;
        margin-left: auto;
        margin-right: auto;
    }

    #registerTitle{
        margin-right: 20px;
        font-size: 70px;
    }
    #loginButtonLogin{
        margin-left: -1px;
    }
    
    #logoutButton{
        margin-left: 100px;
        padding: 10px;
        font-size: 15px;
    }
    #habitTitle{
        font-size: 70px;
    }
    #secondTitle{
         font-size: 17px;
    }
       
    .dateTopping{
        display: none!important;
        width: 50%;
    }
    #dateCheckbox{
        display: none!important;
        justify-content: center;
        flex-direction: column!important;
        width: 100%;
    }
    input{
        width:45%;
        display: none!important;
        /* width: 200px;
        
        flex-direction: column!important; */
    }
    .d-flex{
        display: block !important;
    }  

    .big{
        display: inline-block !important;
    }
/* /* .d-flex{ */
}   





@media only screen and (min-width: 401px) and (max-width:800px){
    h1 {
       font-size: 80px;  
    }
    h4{
        font-size: 50px;
    }
     #loginButton  {
        display: inline;
        width: 250px;
        margin-left: -185px;
        font-size: 45px; 
        
    }
    #registerButton  {
        display: block;
        font-size: 45px; 
        width: 250px 
    }
    body {
        background-size: 200vh;
    } 
    .d-flex{
        display: block !important;
    }  

}






@media only screen and (min-width: 801px) and (max-width:1200px){
    #loginButton {
        width: 250px;
}
#registerButton{
    width: 250px;
}


@media only screen and (min-width:1201px){
    
}



}